<body>
    {{#each trades}}
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <h1><img src="https://tradecubelrs.blob.core.windows.net/0000-static/tradecube_logo_landscape_12.5pc.png" alt="" width="222" height="111" /></h1>
    <h1>Trade Confirmation</h1>
    <table width="622">
        <tbody>
            <tr>
                <td><strong>Buyer</strong></td>
                <td><strong>Seller</strong></td>
            </tr>
            <tr>
                <td>{{this.buyer.partyLongName}}<br>{{this.buyer.primaryConfirmationContact.primaryAddress.concatenatedAddress}}</td>
                <td>{{this.seller.partyLongName}}<br>{{this.seller.primaryConfirmationContact.primaryAddress.concatenatedAddress}}</td>
            </tr>
        </tbody>
    </table>
    <p>Trade Reference {{this.tradeReference}}</p>
    <p>Trade Date / Time {{this.tradeDateTime}} (UTC)</p>
    <p>Product: {{this.product.product}}</p>
    <p>Price: {{this.price.price}} {{this.price.priceUnit.priceUnit}}</p>
    <p>Quantity: {{this.quantity.quantity}} {{this.quantity.quantityUnit.quantityUnit}}</p>
    <p>Settlement Terms: {{this.product.settlement.settlementPeriod}}</p>
    <p>This confirmation, in addition to the master agreement, correctly sets out the terms between the buyer and seller named above. If either party is in disagreement with the terms, this must be raised with the counterparty at the earliest opportunity, and in any case no later than 2 business days from receipt.</p>
    <p>Duly authorised by the buyer and seller:</p>
    <p>&nbsp;</p>
    <p>Buyer signature ..........................................  ({{this.buyer.partyLongName}})</p>
    <p>&nbsp;</p>
    <p>Seller signature ...........................................  ({{this.seller.partyLongName}})</p>
    {{#unless @last}}
    <div style='page-break-before: always;'></div>
    {{/unless}}
    {{/each}}
</body>
